@charset "utf-8";


$white: #fff;
$black: #000;



$color_major: #7bdcf5;
// $color_major: #00CAC4;
$color_major_aid: #b7e7f4; 
// $color_major_aid: #BEE1E4; 

$color_minor: #00cac4;
$color_minor_aid: #bee1e4; 

$color_stress: #FF7B52;
$color_stress_aid: #F7D842; 

$color_assist: #6CB4B7;
$color_assist_aid: #B6D7D6;



$media_xxxs: 375px; 
$media_xxs: 480px;
$media_sm: 768px;
$media_md: 992px;
$media_lg: 1200px;